body {
  color: var(--color-black);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding: 0px 0px 0px 0px !important;
  background: #f7f2ee;
  &.hide-scrollbar {
    margin: 0px 0px 0px 0px !important;
  }
  .lock & {
    overflow: hidden;
  }
  .popup-show & {
    overflow: hidden;
  }
  &::before {
    content: "";
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 49;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  .menu-open & {
    overflow: hidden;
    &::before {
      content: "";
      opacity: 1;
      pointer-events: auto;
    }
  }
}

body.noscroll {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
}

fieldset,
fieldset legend {
  margin: 0;
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  outline: none;
  color: currentcolor;
}

.btn {
  font-family: var(--second-family);
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 120%;
  color: var(--color-golden);
  min-height: 35px;
  border: 2px solid var(--color-golden);
  padding: 0.5vw 2.4vw;
  gap: 1vw;
  transition:
    background-color 0.3s,
    color 0.3s;
  &:hover {
    color: var(--color-black);
    background-color: var(--color-golden);
  }
  img {
    width: 2.6vw;
    height: auto;
    flex: 0 0 2.6vw;
    @media (max-width: 992px) {
      width: 15px;
      flex: 0 0 15px;
    }
  }
  &.btn-blue {
    background-color: var(--color-black);
    transition: opacity 0.3s;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 8px;
    font-size: 1.5vw;
    padding: 1.7vw 2vw;
    width: 23vw;
    &:hover {
      opacity: 0.7;
    }
    @media (max-width: 992px) {
      width: fit-content;
      font-size: 14px;
      padding: 15px 30px;
      gap: 10px;
    }
    @media (max-width: 768px) {
      padding: 15px 20px;
      font-size: 12px;
    }
  }
  &.btn-big {
    padding: 1vw 3.7vw 1vw 2vw;
    font-size: 1.4vw;
    gap: 1.5vw;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.7;
      background-color: transparent;
      color: var(--color-golden);
    }
    @media (max-width: 992px) {
      font-size: 14px;
      padding: 10px 30px;
      gap: 10px;
    }
    @media (max-width: 768px) {
      padding: 10px 20px;
      font-size: 12px;
    }
  }
  @media (max-width: 992px) {
    font-size: 14px;
    gap: 10px;
    padding: 6px 30px;
  }
  @media (max-width: 768px) {
    min-height: 30px;
    padding: 6px 20px;
    font-size: 12px;
  }
}

.title1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 4.5vw;
  line-height: 120%;
  color: #fff;
  @media (max-width: 768px) {
    font-size: 32px;
  }
  span {
    background: linear-gradient(135deg, #f0c380 0%, #f0c380 40%, #f0c380 70%, #fdde8f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.title2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 4.5vw;
  line-height: 100%;
  @media (max-width: 992px) {
    font-size: 38px;
  }
  @media (max-width: 768px) {
    font-size: 32px;
  }
}
