.footer {
    position: relative;
    border-top: 2px solid #b09b8a;
    // .footer__bg

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // .footer__content

    &__content {
        position: relative;
        z-index: 15;
        padding: 0px clamp(0px, 3.2vw, 58px) 0px clamp(0px, 3.7vw, 67px);
        @media (max-width: 992px) {
            padding: 0px 0px 0px 0px;
        }
    }

    // .footer__top

    &__top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: clamp(30px, 18.3vw, 333px) 0px clamp(30px, 9.3vw, 169px) 0px;
        gap: clamp(30px, 40px, 40px);

        @media (max-width: 992px) {
            grid-template-columns: 1fr;
            padding: clamp(30px, 50px, 50px) 0px;
        }

        @media (max-width: 768px) {
            gap: clamp(30px, 30px, 30px);
            padding: clamp(30px, 30px, 30px) 0px;
        }
    }

    // .footer__left

    &__left {
        display: flex;
        flex-direction: column;
        gap: clamp(15px, 2vw, 36px);
    }

    // .footer__logo

    &__logo {
        font-family: var(--second-family);
        display: flex;
        flex-direction: column;
        gap: clamp(10px, 1.5vw, 27px);
        font-weight: 400;
        line-height: 100%;
        font-size: clamp(28px, 6.5vw, 118px);
        color: #fff;

        img {
            width: clamp(20px, 3.5vw, 64px);
            height: auto;
        }
    }

    // .footer__text

    &__text {
        color: var(--color-golden);
        font-size: clamp(12px, 1.2vw, 22px);
        line-height: 120%;
        font-weight: 500;
        letter-spacing: clamp(0.4em, 0.6em, 0.6em);

        span {
            font-size: clamp(14px, 1.5vw, 27px);
        }
    }

    // .footer__right

    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        gap: clamp(20px, 2.5vw, 46px);

        .btn {
            letter-spacing: 0.2em;
            font-size: clamp(10px, 0.9em, 0.9em);
            border-radius: 8px;
            padding: clamp(10px, 1vw, 18px) clamp(20px, 2.5vw, 46px);
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            gap: clamp(10px, 1.5vw, 27px) clamp(10px, 2.8vw, 51px);

            li {
                a {
                    font-size: clamp(12px, 1.1vw, 20px);
                    line-height: 120%;
                    font-weight: 400;
                    color: #fff;
                    transition: opacity 0.3s;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }

        @media (max-width: 768px) {
            align-items: start;
            justify-content: start;

            ul {
                justify-content: start;
            }
        }
    }

    // .footer__socials

    &__socials {
        display: flex;
        flex-direction: column;
        gap: clamp(10px, 1vw, 18px);
    }

    // .footer__social

    &__social {
        display: flex;
        align-items: center;
        font-family: var(--second-family);
        gap: clamp(5px, 0.6vw, 11px);
        font-weight: 400;
        font-size: clamp(14px, 1.6vw, 29px);
        line-height: 120%;

        span {
            color: #fff;
        }

        a {
            display: flex;
            align-items: center;
            gap: clamp(10px, 1.5vw, 27px);
            color: var(--color-golden);
            transition: opacity 0.3s;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    // .footer__social-icon

    &__social-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: clamp(25px, 3.8vw, 69px);
        height: clamp(25px, 3.8vw, 69px);
        border-radius: 50%;
        border: 2px solid var(--color-golden);

        img {
            width: clamp(10px, 1.7vw, 31px);
            height: auto;
            margin: 0px 2px 0px 0px;
        }
    }

    // .footer__bottom

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: clamp(15px, 2vw, 36px);
        padding: clamp(20px, 3vw, 55px) 0px clamp(20px, 6.5vw, 118px) 0px;
        border-top: 1px solid #1e2d40;

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: clamp(15px, 2vw, 36px) clamp(15px, 4.2vw, 76px);

            li {
                font-size: clamp(12px, 1vw, 18px);
                line-height: 120%;
                font-weight: 400;
                color: #fff;

                a {
                    transition: opacity 0.3s;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }

        @media (max-width: 768px) {
            flex-direction: column;
            justify-content: center;
            padding: 20px 0px;

            ul {
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
            }
        }
    }

    // .footer__map

    &__map {
        display: flex;
        align-items: center;
        gap: clamp(10px, 0.8vw, 15px);
        font-size: clamp(12px, 1vw, 18px);
        line-height: 120%;
        font-weight: 400;
        color: #fff;
        transition: opacity 0.3s;
        white-space: nowrap;

        img {
            width: clamp(15px, 1.6vw, 29px);
            flex: 0 0 clamp(15px, 1.6vw, 29px);
            height: auto;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}
