.arrows-slider {
    display: flex;
    gap: clamp(15px, 1.5vw, 27px);
    margin-top: 1vw;
    @media (max-width: 992px) {
        margin-top: 10px;
    }
    @media (max-width: 768px) {
        justify-content: center;
        margin-top: 0px;
    }
}
.arrow-slider {
    border: 2px solid #cbcbd3;
    cursor: pointer;
    width: clamp(36px, 3.6vw, 66px);
    height: clamp(36px, 3.6vw, 66px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--ffffff);
    transition: background-color 0.3s;
    z-index: 30;

    &:hover {
        background-color: #cbcbd3;
    }

    img {
        width: clamp(13px, 1.5vw, 33px);
        height: auto;
        fill: var(--color-black);
        margin-left: -2px;
    }
}
.arrow-slider-prev {
    img {
        margin-right: -2px;
        transform: rotate(-180deg);
    }
}

.swiper-pagination-lock {
    pointer-events: none;
    opacity: 0.5;
}
.swiper-button-lock {
    pointer-events: none;
    opacity: 0.5;
}
.swiper-button-disabled {
    pointer-events: none;
    opacity: 0.5;
}
